<nav class="nav-bar">
  <ng-container>
    <ul>
      <li>
        <button mat-stroked-button color="accent" routerLink="/search/:city">Search</button>
      </li>
      <li>
        <button mat-stroked-button color="accent" routerLink="/home"> Home </button>
      </li>
    </ul>
  </ng-container>
</nav>
<!-- 
<ng-template #toggleMenu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span routerLink="/search/:city"> Search </span>
    </button>
    <button mat-menu-item>
      <span routerLink="/home"> Home </span>
    </button>
  </mat-menu>
</ng-template> -->
