.forecast__module {
  width: 100%;
  height: 100%;
  .title {
    display: block;
    margin-bottom: 10px;
  }
  .forecast__component {
    align-items: center;
    display: flex;
    justify-content: center;
    
    .forecast {
  display: flex;

  .forecast-item {
    margin: 0 auto;
  }
}
  }
}