@use "src/styles/_mixins.scss" as app-mixins;

:host {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  width: 100%;

  @include app-mixins.media-tablet() {
    flex-direction: row;
  }

  @include app-mixins.media-web() {
    flex-direction: column;
  }
}
mat-sidenav-container {
  background-color: #ffffff;
}
mat-sidenav {
  width: 100vw;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 5px;
  & > * {
    width: 100%;
  }

  // @include app-mixins.media-handset() {
  //   height: 100vh;
  //   overflow-y: auto;
  // }

  // @include app-mixins.media-tablet() {
  //   height: 100vh;
  //   overflow-y: auto;
  // }
}
