@use "src/styles/mixins.scss" as app-mixins;

:host {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  width: 100%;

  @include app-mixins.media-tablet() {
    flex-direction: row;
  }

  @include app-mixins.media-web() {
    flex-direction: column;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;

  & > * {
    width: 100%;
  }

  @include app-mixins.media-handset() {
    height: calc(100vh - 8rem);
    overflow-y: auto;
  }

  @include app-mixins.media-tablet() {
    height: 100vh;
    overflow-y: auto;
  }
}