.container__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.weather-forecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  gap: 5px;
}

.weather-card {
  grid-column: 2/3;
  grid-row: 1/1;
}

.forecast {
  grid-column: 2/4;
  grid-row: 2/4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.forecast-item {
  width: 20%;
}
.todayhighlights {
  grid-column: 3/4;
  grid-row: 1/1;
}

@media screen and (max-width: 768px) {
  .weather-forecast {
    display: flex;
    flex-direction: column;
  }
}
