.container__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-forecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.weather-card {
  grid-column: 1/3;
  grid-row: 1/2;
}

.forecast {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.todayhighlights {
  grid-column: 3/5;
  grid-row: 1/2;
}

@media screen and (max-width: 768px) {
  .weather-forecast {
    display: flex;
    flex-direction: column;
  }
}
