<!-- <section class="container">
  <ng-container *ngIf="!isLoading; else loading">
    <app-weathercard [shortWeather]="shortWeather$ | async"> </app-weathercard>
    <app-forecast [forecast$]="forecast$ | async"></app-forecast>

    <app-today-highlights [todayHighlights$]="todayHighlights$">
    </app-today-highlights>
  </ng-container>
</section>

<ng-template #loading>
  <div class="container details-wrapper">Loading...</div>
</ng-template> -->
<section class="container">
  <div class="weather-box">
    <div class="weather-forecast">
      <ng-container *ngIf="shortWeather$ | async">
        <app-weathercard
          class="weathercard"
          [shortWeather]="shortWeather$ | async"
        ></app-weathercard>
      </ng-container>
      <div class="forecast">
        <ng-container *ngFor="let forecast of forecast$ | async">
          <app-forecast [forecast]="forecast"></app-forecast>
        </ng-container>
      </div>
      <!-- <ng-container *ngIf="todayHighlights$ | async">
        <app-today-highlights [todayHighlights$]="todayHighlights$">
        </app-today-highlights>
      </ng-container> -->
    </div>
    <!-- <div class="weather-sidebar">
      <div class="sidebar">

      </div>
    </div> -->
  </div>
</section>
