<mat-card-header>
  <mat-card-title>{{ shortWeather?.location }}</mat-card-title>
</mat-card-header>
<mat-card-content>
  <div class="box">
    <img [src]="[shortWeather?.icon]"/>
    <mat-card-title>{{ shortWeather?.temperature }}°C</mat-card-title>
    <mat-card-subtitle>{{ shortWeather?.condition }}</mat-card-subtitle>
  </div>
  <div class="box right">
    <div class="box">
      <mat-card-subtitle>Feels like</mat-card-subtitle>
      <mat-card-subtitle>Humidity</mat-card-subtitle>
      <mat-card-subtitle>Wind</mat-card-subtitle>
    </div>
    <div class="box">
      <mat-card-title>{{ shortWeather?.feelslike }}°C</mat-card-title>
      <mat-card-title>{{ shortWeather?.humidity }}%</mat-card-title>
      <mat-card-title>{{ shortWeather?.wind }} km/h</mat-card-title>
    </div>
  </div>
</mat-card-content>

<!-- <ng-template [ngIf]="obs.value">Value: {{ obs.value }}</ng-template> -->
