<mat-card-header>
  <mat-card-title>{{ shortWeather?.location }}</mat-card-title>
</mat-card-header>
<mat-card-content>
  <div class="mat-card-box">
    <img src="{{ shortWeather?.icon }}" />
    <mat-card-title>{{ shortWeather?.temperature }}°C</mat-card-title>
    <mat-card-title>{{ shortWeather?.condition }}</mat-card-title>
  </div>
  <div class="mat-card-box">
    <mat-card-title>Feels like {{ shortWeather?.feelslike }}°C</mat-card-title>
    <mat-card-title>Humidity {{ shortWeather?.humidity }}%</mat-card-title>
    <mat-card-title>Wind {{ shortWeather?.wind }} km/h</mat-card-title>
  </div>
</mat-card-content>

<!-- <ng-template [ngIf]="obs.value">Value: {{ obs.value }}</ng-template> -->
