@use "src/styles/_mixins.scss" as app-mixins;
@use "src/styles/_variables.scss" as var;

:host {
  flex: 1 1 max-content;
  flex-wrap: nowrap;
  min-width: min-content;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow:
    0px 0px 0.4px rgba(0, 0, 0, 0.07),
    0px 0.1px 0.9px rgba(0, 0, 0, 0.05),
    0px 0.1px 1.8px rgba(0, 0, 0, 0.042),
    0px 0.2px 3.1px rgba(0, 0, 0, 0.035),
    0px 0.4px 5.8px rgba(0, 0, 0, 0.028),
    0px 1px 14px rgba(0, 0, 0, 0.02)
  ;
  border-color: var(--accent-lighter-color);
  padding: 5px;

  @include app-mixins.media-handset() {
    flex: 1 1 45%;
  }
}
.icon {
  display: block;
  color: var(--primary-color);
  width: 64px;
  height: auto;
  font-size: 64px;
}
