<div class="wrapper">
  <section class="navigation-view">
    <app-header>
      <app-nav-bar navbar></app-nav-bar>
    </app-header>
  </section>
  <section class="content-view">
    <router-outlet></router-outlet>
  </section>
</div>
<!-- <app-wrapper>
  <app-header sidenav>
    <app-nav-bar navbar></app-nav-bar>
  </app-header>
  <router-outlet content></router-outlet>
</app-wrapper> -->
<!-- <mat-sidenav-container class="wrapper">
  <mat-sidenav opened="opened" mode="side">
    <app-header class="navigation-view">
      <app-nav-bar navbar></app-nav-bar>
    </app-header>
  </mat-sidenav>
  <mat-sidenav-content class="content-view">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
