// main {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin: 2vh auto;
//   min-height: 90vh;
//   max-width: 1440px;
// }

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
}
.navigation-view {
  grid-column: 1/3;
  grid-row: 1/-1;
}

.content-view {
  grid-column: 3/-1;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
}
