// main {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin: 2vh auto;
//   min-height: 90vh;
//   max-width: 1440px;
// }

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 20fr 1fr;
  height: 100%;
}

header {
  grid-column: 1/-1;
}
.searchbar {
  grid-column: 4/-4;
}
footer {
  grid-column: 1/-1;
}
.page {
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
}
