@use "src/styles/mixins.scss" as app-mixins;

:host {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  border-style: solid;
  border-color: #1a73b7;
  border-width: 2px;
  padding: 20px;
  width: 45%;
  height: 80px;
  @include app-mixins.media-handset() {
    width: 100%;
  }
}
.icon {
  color: #1a73b7;
  width: 64px;
  height: auto;
  font-size: 64px;
}
