<section class="container">
  <div class="container__main-box">
    <div class="container__box__block header">
      <app-date></app-date>
      <app-input (newSearchEvent)="searchEvent($event)"></app-input>
    </div>
    <div class="container__box__block main">
      <app-overview [overview$]="overview$"></app-overview>
    </div>
  </div>
  <div class="container__side-box">
    <div class="container__box__block header">
      <ng-container *ngIf="shortWeather$ | async as weather">
        <app-weathercard class="weather-card" [shortWeather]="shortWeather$ | async">
          <app-favorite-button
            (clickEvent)="toFavorite(weather?.location)"
            [added]="isCityAdded$ | async"
          ></app-favorite-button>
        </app-weathercard>
      </ng-container>
    </div>
    <div class="container__box__block forecast">
      <app-forecast [forecast$]="forecast$"></app-forecast>
    </div>
    <div class="container__box__block"></div>
  </div>
</section>
