@use "src/styles/_mixins.scss" as app-mixins;
.container__main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 auto;
  margin: 5px;
  border-radius: 15px;
  // background: var(--accent-lighter-color);
}
.container__side-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 2 2 auto;
  margin: 5px;
  border-radius: 15px;
  // background: var(--accent-lighter-color);
}
.container__box__block {
  flex:1 1 100%;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.container__box__block.header {
  flex: 2 2 auto;
  justify-content: space-between;

  @media screen and (max-width: 795px) {
    flex-direction: column;
  }
}
