mat-icon {
  color: #1a73b7;
  margin: auto;
}
a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #1a73b7;
}
.active {
  background-color: #bfdeef;
}
