<ng-container [ngSwitch]="layoutType$ | async">
  <ng-container *ngSwitchCase="breakpoints.Web">
    <ng-container *ngTemplateOutlet="webtemplate"></ng-container>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <ng-container *ngTemplateOutlet="icontemplate"></ng-container>
  </ng-container>
</ng-container>

<ng-template #icontemplate>
  <ng-container>
    <button mat-button color="primary" [routerLink]="[link]" routerLinkActive="active">
      <mat-icon>{{ icon }}</mat-icon>
    </button>
  </ng-container>
</ng-template>

<ng-template #webtemplate>
  <ng-container>
    <button mat-button color="primary" [routerLink]="[link]" routerLinkActive="active">
      <mat-icon>arrow_forward_ios</mat-icon>
      <span>{{ title | titlecase }}</span>
    </button>
  </ng-container>
</ng-template>
