.daily-week-grid {
  display: flex;
  flex-direction: column;
}
.daily-week-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  * {
    text-align: center;
    margin: 0;
  }

  img {
    height: 48px;
    width: 48px;
  }
}

// @media screen and (max-width: 768px) {
//     .daily-week-grid {
//         .daily-week-weather {
//             display: flex;
//             flex-wrap: wrap;
//             justify-content: space-around;
//         }
//     }
// }
