.daily-week-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px 5px;
}

.day-card {
  * {
    text-align: center;
    margin: 0;
  }

  img {
    height: 48px;
    width: 48px;
  }
}
