@use "src/styles/_mixins.scss" as app-mixins;
a {
  color: var(--text-accent-darker-color);
  span {
    margin-left: 10px;
  }
  @include app-mixins.media-handset() {
    text-align: left;
    width: 100%;
  }
}
.active {
  background: var(--primary-color);
  color: var(--text-primary-color);
}

