<app-nav-link
  [icon]="'search'"
  [layoutType$]="layoutType$"
  [link]="'/search/:city'"
  [title]="'SEARCH'"
  (click)="eventEmit()"
></app-nav-link>
<app-nav-link
  [icon]="'home'"
  [layoutType$]="layoutType$"
  [link]="'/home'"
  [title]="'HOME'"
  (click)="eventEmit()"
  *isAuth
></app-nav-link>
<app-nav-link
  [icon]="'login'"
  [layoutType$]="layoutType$"
  [link]="'/login'"
  [title]="'log in'"
  (click)="eventEmit()"
  *notAuth
></app-nav-link>
<app-nav-link
  [icon]="'logout'"
  [layoutType$]="layoutType$"
  [title]="'log out'"
  (click)="logOut()"
  (click)="eventEmit()"
  *isAuth
></app-nav-link>
