.container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  row-gap: 15px;
  app-weathercard {
    height: min-content;
  }
}

.container__box__block {
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px;
  border-radius: 10px;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
}
