a {
  text-decoration: none;
  color: black;
}

.container {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container__box__block {
  flex: 1;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px;
  border-radius: 10px;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
}
