mat-card-subtitle, mat-card-content {
  margin: 0;
}

.today-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    justify-items: center;
    height: 100%;
}
