.today-highlights {
    display: grid;
    height: 100%;
    grid-template: repeat(2, 50%)/repeat(3, 30%);
    justify-content: space-between;
    align-items: center;
    gap: 1px 1px;
    .today-card {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;

        mat-card-subtitle {
            margin: 0;
        }
    }
}
@media screen and (max-width: 768px) {
    .today-highlights {
        display: flex;
        flex-wrap: wrap;
        .today-card {
            min-width: 33%;
            width: auto;
        }
    }
}