.today-highlights {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
}
.today-card {
    flex-grow: 1;
    mat-card-subtitle {
        margin: 0;
        text-align: center;
    }
}
// @media screen and (max-width: 768px) {
// .today-highlights {
//     display: flex;
//     flex-wrap: wrap;
// }
// .today-card {
//     height: 100px;
//     min-width: 33%;
//     width: auto;
// }
// }
