mat-card-subtitle {
  margin: 0;
}

mat-card-content {
  margin: 0;
  display: inline-flex;
  align-items: flex-end;
  gap: 10px;
}

.today-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
