name: Docker Compose Build 

on: 
  workflow_run:
    workflows: [ "Angular CI/CD" ]
    types:
      - completed

jobs: 
  Build:
    runs-on: ubuntu-latest
    environment: ngforecast 
    steps:
      - name: Chekout Repository
        uses: actions/checkout@v3
      - name: Run Docker Compose
        run: |
          docker compose -f docker-compose.dev.yml build
          docker compose -f docker-compose.dev.yml up
          docker compose ps
          docker ls
          docker compose stop	 
